@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark;
}
/* @plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --radius-field: 0.5rem;
} */

:root {
	--radius-field: 0.5rem;
}
