@import 'tailwindcss';
@import 'tw-animate-css';

/* @custom-variant dark (&:is(.dark *)); */

@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark;
}

:root {
	--radius: 0.625rem;
	--radius-field: 0.5rem;
}
[data-sonner-toast] {
	--normal-text: var(--color-base-content) !important;
	--normal-bg: var(--color-base-200) !important;
	/* box-shadow: none !important; */
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}
